body {
	background-color: #a8dadc;
	line-height: 1.6;
}

.App {
	background-color: #457b9d;
	min-height: 500px;
	width: 400px;
	margin: 40px auto;
	border-radius: 2%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.to-do-form {
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.to-do-form input {
	background-color: #1d3557;
	border: none;
	width: 80%;
	padding: 0 15px;
	font-size: 18px;
	border-radius: 10px;
	color: #fff;
	margin: 0 5px;
}

.to-do-form input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.to-do-form input:focus,
.to-do-form button:focus {
	outline: none;
}
.to-do-form button {
	width: 20%;
	border-radius: 10px;
	border: none;
	background-color: #e63946;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	margin: 0 5px;
}
